# Node modules
node_modules

# Environment variables
.env

# Prisma generated client
/generated/prisma

# Uploaded QR codes
uploads/qrcodes/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
